<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Blend.Sdk" version="1.0.0" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net472" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net472" />
  <package id="MahApps.Metro" version="0.1" targetFramework="net472" />
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net472" />
  <package id="Selen.Wpf" version="1.0.0" targetFramework="net472" />
</packages>